# settings.json
/.vscode

# __pycache__
/__pychache__

# venv
/venv

# logs
/logs

# db
/local_DB

# build
/build
/dist
/SQL-Analytics-v.1.1.spec
/SQL-Analytics-v1.0.spec
/SQL-Analytics-v1.2.0.spec
/SQL-Analytics-v1.3.0.spec

# settings
/settings/settings.json

# env
/.env

# oracle instant client
/oracle instant client

# tests + coverage
/.pytest_cache
.coverage